<div class="container">
  <div class="row row-cols-md-2" *ngIf="advDetails | async as advertisement">
    <form (ngSubmit)="onSubmit()">
      <div class="col">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active" data-interval="50000">
              <img [src]="'assets/' + advertisement.photo" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-interval="50000">
              <img src="assets/def.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-interval="50000">
              <img src="assets/def.jpg" class="d-block w-100" alt="...">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        <form>
          <div class="form-group row">
            <label for="brand" class="col-sm-2 col-form-label">Marka: </label>
            <div class="col-sm-10">
              <div type="text" readonly class="form-control-plaintext" id="brand"> {{advertisement.brand}} </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="description" class="col-sm-2 col-form-label">Opis: </label>
            <div class="col-sm-10">
              <div type="text" readonly class="form-control-plaintext"
                   id="description"> {{advertisement.description}} </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="category" class="col-sm-2 col-form-label">Kategoria: </label>
            <div class="col-sm-10">
              <div type="text" readonly class="form-control-plaintext " id="category"> {{advertisement.category}}</div>
            </div>
          </div>
          <div class="form-group row">
            <label for="city" class="col-sm-2 col-form-label">Miasto: </label>
            <div class="col-sm-10">
              <div type="text" readonly class="form-control-plaintext" id="city"> {{advertisement.city}}</div>
            </div>
          </div>
          <div class="form-group row">
            <label for="price" class="col-sm-2 col-form-label">Cena: </label>
            <div class="col-sm-10">
              <div type="text" readonly class="form-control-plaintext col-form-label" id="price"> {{advertisement.price}}zł</div>
            </div>
          </div>
        </form>
      </div>
      <div class="alert alert-success" *ngIf="isLoggedIn && advOwner">
        <button class="btn btn-outline-secondary btn-lg" (click)="onSubmit()">Usun</button>
        <button class="btn btn-outline-secondary btn-lg" routerLink="/advEdit/{{advertisement.id}}">Edytuj</button>
      </div>
    </form>

  </div>

</div>

<!--&lt;!&ndash;<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">&ndash;&gt;-->
<!--&lt;!&ndash;  <div class="carousel-inner">&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="carousel-item active">&ndash;&gt;-->
<!--&lt;!&ndash;      <img src="../../../../assets/city.png" class="d-block w-100" alt="...">&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="carousel-item">&ndash;&gt;-->
<!--&lt;!&ndash;      <img src="../../../../assets/box.jpg" class="d-block w-100" alt="...">&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="carousel-item">&ndash;&gt;-->
<!--&lt;!&ndash;      <img src="..." class="d-block w-100" alt="...">&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;  </div>&ndash;&gt;-->
<!--&lt;!&ndash;  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">&ndash;&gt;-->
<!--&lt;!&ndash;    <span class="carousel-control-prev-icon" aria-hidden="true"></span>&ndash;&gt;-->
<!--&lt;!&ndash;    <span class="visually-hidden">Previous</span>&ndash;&gt;-->
<!--&lt;!&ndash;  </button>&ndash;&gt;-->
<!--&lt;!&ndash;  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">&ndash;&gt;-->
<!--&lt;!&ndash;    <span class="carousel-control-next-icon" aria-hidden="true"></span>&ndash;&gt;-->
<!--&lt;!&ndash;    <span class="visually-hidden">Next</span>&ndash;&gt;-->
<!--&lt;!&ndash;  </button>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->

