#carouselExampleIndicators{
  width: 500px;
  height: 500px;
}

.carousel-inner{
  width: 500px;
  height: 500px;
}

.container{
 position: center;
}

/*.form-control-plaintext{*/
/*  text-align: left;*/
/*  word-spacing: 5px;*/
/*}*/

.form {
  word-spacing: 150px;
}
