<div class="container" *ngIf="userDetails| async as user">
  <header class="jumbotron">
    <h3>
    <strong>{{ user.username }}</strong>
    </h3>
  </header>
  <p>
    <strong>Imie:</strong>
    {{ user.name }}
  </p>
  <p>
    <strong>Nazwisko:</strong>
    {{ user.lastName }}
  </p>
  <p>
    <strong>Email:</strong>
    {{ user.email }}
  </p>
  <p>
    <strong>Miasto:</strong>
    {{ user.city }}
  </p>
  <button id="addAdv"  class="btn btn-outline-secondary btn-lg">Edytuj</button>
  <p>
  <strong>Twoje ogłoszenia:</strong>
  </p>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <app-adv-cover
      *ngFor="let advertisement of user.advertisements "
      [adv]="advertisement"
    ></app-adv-cover>
  </div>
</div>
