<div class="container">
  <form (ngSubmit)="onSubmit()" #advForm="ngForm">
    <div class="form-title">
      <label for="title">Tytuł</label>
      <input type="text" [(ngModel)]="adv.title"
             class="form-control"
             id="title"
             name="title"
             placeholder="title"
             required #title="ngModel">
      <div class="description">
        <label for="formDescription">Opis</label>
        <textarea class="form-control" [(ngModel)]="adv.description"
                  id="formDescription"
                  name="description"
                  rows="3"
                  required #description="ngModel">
          </textarea>
      </div>
      <div class="age">
        <label for="inputAge">Wiek</label>
        <select type="text" class="form-control" [(ngModel)]="adv.ageCategory"
                id="inputAge"
                name="age"
                required #description="ngModel">

          <option>9+</option>

          <option>0-2</option>

          <option>3-5</option>

        </select>
      </div>
    </div>
    <div class="form-photo">
      <div class="form-group">
        <label for="add-photo">Dodaj zdjęcie</label>
        <input type="file"
               (change)="selectFile($event)"
               [(ngModel)]="adv.photo"
               class="form-control-file"
               id="add-photo"
               name="photo"
               required #description="ngModel">
      </div>
    </div>

    <div class="form-additionInformation">
      <div class="category">
        <label for="inputCategory">Kategoria</label>
        <select id="inputCategory" [(ngModel)]="adv.category"
                class="form-control"
                name="category"
                required #description="ngModel">
          <option selected>Edukacja i rozwój</option>
          <option>Figurki</option>
          <option>Gry</option>
          <option>Klocki</option>
        </select>
      </div>
      <div class="brand">
        <label for="inputBrand">Marka</label>
        <select id="inputBrand" [(ngModel)]="adv.brand"
                class="form-control"
                name="brand"
                required #description="ngModel">
          <option >fisher price</option>
          <option>Lego</option>
          <option>Trefl</option>
          <option>Playmobil</option>
        </select>
      </div>
      <div class="condition">
        <label for="inputCondition">Miasto</label>
        <select id="inputCondition" [(ngModel)]="adv.city"
                class="form-control"
                name="city"
                required #description="ngModel">
          <option value="Warszawa">Warszawa</option>
          <option value="Krakow">Krakow</option>
          <option value="Wrocław">Wrocław</option>
          <option value="Leszno">Leszno</option>
        </select>
      </div>
    </div>

    <div class="form-price">
      <label for="price">cena</label>
      <input type="number" [(ngModel)]="adv.price"
             class="form-control-file"
             id="price"
             name="price"
             placeholder="0,00 zł"
             required #description="ngModel">
    </div>
    <button id="addAdv"  class="btn btn-outline-secondary btn-lg"
            [disabled]="advForm.invalid">Dodaj ogłoszenie
    </button>
  </form>
</div>

