<div class="container">
  <form>
    <div class="form-title">
      <label for="title">Tytuł</label>
      <input type="email" class="form-control" id="title" placeholder="title">
      <div class="description">
        <label for="formDescription">Opis</label>
        <textarea class="form-control" id="formDescription" rows="3"></textarea>
      </div>
      <div class="age">
        <label for="inputAge">Wiek</label>
        <select id="inputAge" class="form-control">
          <option selected>Choose...</option>
          <option>...</option>
        </select>
      </div>
    </div>
    <div class="form-photo">
          <div class="form-group">
            <label for="add-photo">Dodaj zdjęcie</label>
            <input type="file" class="form-control-file" id="add-photo">
          </div>
    </div>

    <div class="form-additionInformation">
      <div class="category">
        <label for="inputCategory">Kategoria</label>
        <select id="inputCategory" class="form-control">
          <option selected>Choose...</option>
          <option>...</option>
        </select>
      </div>
      <div class="brand">
      <label for="inputBrand">Marka</label>
      <select id="inputBrand" class="form-control">
        <option selected>Choose...</option>
        <option>...</option>
      </select>
      </div>
      <div class="condition">
      <label for="inputCondition">Stan</label>
      <select id="inputCondition" class="form-control">
        <option selected>Choose...</option>
        <option>...</option>
      </select>
      </div>
    </div>

    <div class="form-price">
          <label for="price">cena</label>
        <input type="number" class="form-control-file" id="price" placeholder="0,00 zł">
      </div>
  </form>
</div>
