<div id="login-box">
  <form (ngSubmit)="onSubmit()" #regForm="ngForm">
  <div class="left">
    <h1>Zarejestruj sie</h1>

    <input type="text" [(ngModel)]="register.name"
           name="name" placeholder="imie" />
    <input type="text" [(ngModel)]="register.username"
           name="login" placeholder="login" />
    <input type="text" [(ngModel)]="register.email"
           name="text" placeholder="E-mail" />
    <input type="password" [(ngModel)]="register.password"
           name="password" placeholder="Password" />
    <input type="password" name="password2" placeholder="Retype password" />

    <button id="addAdv" class="btn btn-outline-secondary btn-lg"
            [disabled]="regForm.invalid">Zarejestruj
    </button>
  </div>

  <div class="right">
    <span class="loginwith">Sign in with<br />social network</span>

    <button class="social-signin facebook">Log in with facebook</button>
    <button class="social-signin twitter">Log in with Twitter</button>
    <button class="social-signin google">Log in with Google+</button>
  </div>
  <div class="or">Lub</div>
  </form>
</div>
